<%- include('./partials/boilerplate.ejs') %>
    <title>404 not found</title>
    <link rel="stylesheet" href="/css/404.css">
    <div class="card">
        <div class="star top">
            <div align="center">
                <a href="/">
                    <img class="imgg" src='/assets/Logo.png'>
                </a>
            </div>
        </div>
        <div class="container flex">
            <div class="error">
                <span>Error
                    404</span>
                <p>This page does not exist.</p>

                
                <button onclick="location.href='/'">Home</button>
            </div>
            <div class="img">
                <img src="https://svgshare.com/i/Ye7.svg">
            </div>
        </div>
    </div>
    </body>
  </html>
