  <%- include('./partials/boilerplate.ejs') %>
  <%- include('./partials/nav.ejs', {check: check}) %>
  <title>FAQs</title>
  <link rel="icon" href="/assets/Logo.jpg">
  <link rel="stylesheet" href="/css/FAQ.css">
  <section>
    <!-- <div class="container">
      <img src="Logo.jpg">
    </div> -->
    <div class="faq-title">
      <h1> FAQs </h1>
    </div>
    <ul class="faq-list">
      <li>
        <a>What is Polaroid?</a>
        <div>
          <p> Polaroid is a site where you can track the films you've watched, keep a watchlist of films, write reviews, browse films, view the film information, book your movie tickets, and find specially curated films based on your taste. </p>
        </div>
      </li>
      <li>
        <a>Does it cost to use this service?</a>
        <div>
          <p> No. Polaroid will always remain free to use. </p>
        </div>
      </li>
      <li>
        <a>Can I watch films on Polaroid?</a>
        <div>
          <p> No, we are not a streaming service, but we do link to films on other services. </p>
        </div>
      </li>
      <li>
        <a>What are lists for?</a>
        <div>
          <p> With lists, you can collect and share groups of films (or keep private lists for yourself). </p>
        </div>
      </li>
      <li>
        <a>Where does Polaroid get its film data from?</a>
        <div>
          <p> Polaroid sources all film-related data from The Movie Database, a crowd-sourced database of film-related information. </p>
        </div>
      </li>
      <li>
        <a>Polaroid is missing an essential feature! Where should I suggest?</a>
        <div>
          <p> Please direct your feedback at polaroid@xox.com. We are continually improving our platform and would welcome your thoughts on the service’s future direction. </p>
        </div>
      </li>
      <li>
        <a>How should I reach out to Polaroid?</a>
        <div>
          <p> You can mail to us directly at polaroid@xox.com. We usually respond 1-2 business days. </p>
        </div>
      </li>
      <li>
        <a>Where can I find the OTT platforms of a certain film?</a>
        <div>
          <p> Under a film’s page, you can find a section where it will show which OTT platforms the film is available on. </p>
        </div>
      </li>
      <li>
        <a>Where can I find a film's similar films?</a>
        <div>
          <p> Under most films, there will be a section that will showcase similar films to the current film on the page. </p>
        </div>
      </li>
      <li>
        <a>What all can you do in a user profile?</a>
        <div>
          <p> Each user will have a profile where they can log films, maintain lists and reviews, and book tickets while also being able to change passwords and other essential features. </p>
        </div>
      </li>
      <li>
        <a>How can I interact with the community?</a>
        <div>
          <p> Users can write reviews for any film and start discussions and interact as a community. </p>
        </div>
      </li>
      <li>
        <a>Is it necessary to register for booking tickets?</a>
        <div>
          <p> Yes. </p>
        </div>
      </li>
      <li>
        <a> Can I choose my seat at the cinema?</a>
        <div>
          <p> Absolutely. You have the choice of selecting or changing your seats at every step of the transaction. </p>
        </div>
      </li>
      <li>
        <a> How can I confirm whether my tickets have been booked?</a>
        <div>
          <p> s soon as your booking is confirmed, a confirmation is sent. </p>
        </div>
      </li>
      <li>
        <a> Can we cancel or replace our tickets?</a>
        <div>
          <p> As per cinema policy, once a ticket has been paid for, it is deemed sold. It cannot be replaced or cancelled. </p>
        </div>
      </li>
      <li>
        <a>What about payments?</a>
        <div>
          <p> The RBI has made it mandatory, from 1st August 2009 onwards, for all online transactions to have an extra level of authentication to make online shopping safer. The 'extra' level is a password that you will have to enter after entering your credit/debit card details while making online payments. You will require this for transacting on any website in India, including Polaroid. This new technology is called VBV - Verified by Visa or MSC - MasterCard Secure Code. </p>
        </div>
      </li>
      <li>
        <a>I want to book tickets in bulk.</a>
        <div>
          <p> Please email us the details on your requirement at polaroid@xox.com. </p>
        </div>
      </li>
      <li>
        <a>I have booked a ticket through Polaroid, but the event has been canceled. How do I get a refund?</a>
        <div>
          <p> If there is a cancellation, the funds will be returned to you within 2 weeks. </p>
        </div>
      </li>
      <li>
        <a>What should I do if my booking is not finished?</a>
        <div>
          <p> If your order process fails during the payment process, the amount will be refunded to you within 1 week. </p>
        </div>
      </li>
      <li>
        <a> I have booked a ticket through Polaroid, but the event has been canceled. How do I get a refund ? </a>
        <div>
          <p> If there is a cancellation, the funds will be returned to you within 2 weeks. </p>
        </div>
      </li>
    </ul>
    </div>
  </section>
  <%- include('./partials/footer.ejs') %>