<%- include('./partials/boilerplate.ejs') %>
<%- include('./partials/nav.ejs', {check: check, username: username, email: email}) %>
<link rel="stylesheet" href="/css/films.css">
<title>Polaroid | Films</title>
<div class="main">
    <div class="header">
        <div>films</div>
        <label class="switch">
            <input type="checkbox" class="grid-num-control" autocomplete="off" onclick="changeGridLayout()"
                id="grid-checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="header-bar">There are 789,912 films</div>
    <div class="grid-container" id="grid-container">
        <div class="grid-img-container"><img class="grid-img" onclick="location.href='/film'" src="/assets/filmimg.jpg" alt="image"></div>
    </div>
</div>
<script src="/scripts/films.js" charset="utf-8"></script>
<%- include('./partials/footer.ejs') %>