<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Polaroid</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
<div class="div-container">
  <img src="/assets/Logo.png" onclick="location.href='/'" class="logo">
  <div class="text-div">
        <form method="post" action="/user/resetpassword" onchange="return validateForm()">
          <div class="head-div">Change password</div>

          <div class="email-div">
            <label for="email-input" class="email-label" style="opacity: 70%">Re-enter your Email address</label>
            <input onchange="funcChange()" type="text" name="email" class="email-box" placeholder="input@example.com" id="email-input" required autocomplete="off"
              oninvalid="this.setCustomValidity('Email Address can not be empty')"
              oninput="this.setCustomValidity('')">
          </div>

          <div class="email-div">
            <label for="name-input" class="email-label" style="opacity: 70%">OTP</label>
            <input type="username" name="otp" class="email-box" id="name-input" placeholder="Enter the OTP" required autocomplete="off"
              oninvalid="this.setCustomValidity('OTP can not be empty')"
              oninput="this.setCustomValidity('')">
          </div>

          <div class="pass-div">
            <label for="password-input" class="password-label" style="opacity: 70%">Password</label>
            <input type="password" name="password" class="password-box" placeholder="Password" id="password-input" required autocomplete="off"
              oninvalid="this.setCustomValidity('Password can not be empty')"
              oninput="this.setCustomValidity('')">
          </div>

          <div class="pass-div">
            <label for="repassword-input" class="password-label" style="opacity: 70%">Enter the password again</label>
            <input type="password" name="re-password" class="password-box" placeholder="Password" id="repassword-input" required autocomplete="off">
          </div>

          <button type="submit" class="btn btn-outline-info" style="width: 100%; margin-bottom: 12px;" id="submit-button">Submit</button>
        </form>
        <div class="error-div" id="alert-zone-1"> <%= error %> </div>
        <div class="error-div" id="alert-zone-2"></div>
      </div>
      <div class="img-div"></div>
    </div>
  </body>
  <script src="/scripts/register.js"></script>
</html>
