<%- include('./partials/boilerplate.ejs') %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="/css/login.css">
<div class="div-container">
  <img src="/assets/Logo.jpg" onclick="location.href='/'" class="logo">
  <div class="text-div">
        <form action="/user/login" method="post" onchange="return emailValidation()">
          <div class="head-div">Forgot password?</div>

          <div class="email-div">
            <label for="email-input" class="email-label" style="opacity: 70%">Email address</label>
            <input type="text" name="email" class="email-box" placeholder="input@example.com" id="email-input" required autocomplete="off"
              oninvalid="this.setCustomValidity('Email Address can not be empty')"
              oninput="this.setCustomValidity('')">
          </div>

          <button type="submit" class="btn btn-outline-info" style="width: 100%" id="submit-button">Send OTP</button>
        </form>
      </div>
      <div class="img-div"></div>
    </div>
  </body>
  <script src="/scripts/login.js"></script>
</html>
