<%- include('./partials/boilerplate.ejs') %>
<%- include('./partials/nav.ejs', {check: check}) %>
<title>List | Polaroid</title>
<link rel="stylesheet" type="text/css" href="/css/list.css" />
<div class="main">
    <div class="section-header">
        <div class="section-header-description">Editor's Choice</div>
        <a class="more-btn" href="#" role="button">
          More
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
          </svg>
        </a>
    </div>
    <div class="list-card-group" id="card-group">
        <div class="list-card">
            <a href="/listpage">
                <div class="img-container"><img src="/assets/list_image.jpg" alt="Avatar"></div>
                <div class="description-container">
                    <div class="description-header">Editor's choice</div>
                    <div class="description-content">for when you don't know what to watch</div>
                </div>
            </a>
        </div>
    </div>
</div>
<%- include('./partials/footer') %>
<script src="/scripts/list.js" charset="utf-8"></script>
