<%- include('./partials/boilerplate.ejs') %>
<%- include('./partials/nav.ejs', {check: check}) %>
<title>Document</title>
<link rel="stylesheet" href="/css/profile.css">
<div class="main">
    <div class="top">
        <div class="topLeft">
            <img src="/assets/cat.jpg" height="100px" class="dp">
            <div class="topLeftRight">
                <p class="username">ChocolateFrog18</p>
                <button class="followButton">FOLLOW</button>
            </div>
        </div>
        <div class="topRight">
            <div class="topRightComponent">
                <p class="numberComp">314</p>
                <p class="nameComp">FILMS</p>
            </div>
            <div class="topRightComponent">
                <p class="numberComp">0</p>
                <p class="nameComp">LISTS</p>
            </div>
            <div class="topRightComponent">
                <p class="numberComp">3</p>
                <p class="nameComp">FOLLOWING</p>
            </div>
            <div class="topRightComponent">
                <p class="numberComp">2</p>
                <p class="nameComp">FOLLOWERS</p>
            </div>
        </div>
    </div>
    <div class="bottom">
        <p class="favFilmsHead">FAVOURITE FILMS</p>
        <div class="favFilms">
            <img onclick="location.href='/film'" src="/assets/filmimg.jpg">
            <img onclick="location.href='/film'" src="/assets/filmimg.jpg">
            <img onclick="location.href='/film'" src="/assets/filmimg.jpg">
            <img onclick="location.href='/film'" src="/assets/filmimg.jpg">
        </div>
        <p class="favFilmsHead">RECENTLY WATCHED</p>
        <div class="favFilms">
            <img onclick="location.href='/film'" src="/assets/filmimg.jpg">
            <img onclick="location.href='/film'" src="/assets/filmimg.jpg">
            <img onclick="location.href='/film'" src="/assets/filmimg.jpg">
            <img onclick="location.href='/film'" src="/assets/filmimg.jpg">
        </div>
    </div>
</div>
    
<%- include('./partials/footer.ejs') %>