<%- include('./partials/boilerplate') %>
<%- include('./partials/nav', {check: check}) %>
<title>Search</title>
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/search.css">
<div class="main">
  <div class="search-box">
    <input type="text" class="search-text-box" placeholder="Search Anything" autocomplete="off">
    <button type="submit" class="search" id="search-button" onclick="toggleSearch()">
      <i class="uil uil-search search-icon"></i>
    </button>
  </div>
  <div class="section-heading">found 2 matches for "avatar 2"</div>
  <div class="element-container">
    <div class="film-image-container">
      <img class="film-image" src="/assets/filmimg.jpg" alt="image">
    </div>
    <div class="film-content">
      <div class="film-header">
        <a class="film-name" href="/film">Avatar: The Way of Water</a>
        <div class="film-year">2022</div>
      </div>
      <div class="film-desc">
        Directed by
        <div class="film-director">James Cameron</div>
      </div>
    </div>
  </div>
  <div class="element-container">
    <div class="film-image-container">
      <img class="film-image" src="/assets/filmimg.jpg" alt="image">
    </div>
    <div class="film-content">
      <div class="film-header">
        <a class="film-name" href="/film">Avatar: The Way of Water</a>
        <div class="film-year">2022</div>
      </div>
      <div class="film-desc">
        Directed by
        <div class="film-director">James Cameron</div>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs') %>
<script src="/scripts/search.js" charset="utf-8"></script>
