body {
  /* margin: 0% 20% 0% 20%; */
  min-height: 100vh;
  background-color: #14181c;
  font-family: sans-serif;
}

.main {
  margin: 0% 20% 0% 20%;
}

.section-heading {
  border-bottom: 1px solid #456;
  color: #9ab;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.075rem;
  margin-top: 80px;
  margin-bottom: 8px;
  padding-bottom: 5px;
  text-transform: uppercase;
  min-width: 660px;
}

.element-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #2c3440;
  padding: 25px 0px;
  margin-bottom: 8px;
  min-width: 660px;
}

.film-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.film-image {
  border-radius: 8px;
  height: 125px;
  width: auto;
  outline: 1.8px solid grey;
}

.film-image:hover {
  outline: 3.25px solid white;
  transition: 0.125s;
}

.film-content {
  display: flex;
  flex-direction: column;
}

.film-header {
  display: flex;
  flex-direction: row;
}

.film-name {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  font-size: 1.6930769rem;
  margin-right: 8px;
  justify-content: flex-end;
}

.film-desc {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  color: #9ab;
  align-items: center;
}

.film-director {
  background: #283038;
  border-radius: 3px;
  color: #9ab;
  display: inline-block;
  padding: 3px 6px;
  white-space: nowrap;
  margin-left: 6px;
}

.film-year {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #89a;
  font-size: 1.38461538rem;
}

.film-name:hover {
  color: #40bcf4;
}

.search-div {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-top: 25px;
}

.search-box {
  /* border-radius: 15px; */
  height: 45px;
  width: 88%;
  margin: 0;
  border: none;
  border-radius: 15px 0px 0px 15px;
  padding-left: 10px;
  background-color: #89a;
  transition: 0.4s;
  font-size: 16px;
}

.search-box:focus {
  outline: none;
  background-color: #d5e5f7;
  transition: 0.4s;
  border: none;
  width: 93%;
  letter-spacing: 1px;
}

.search-button {
  border: none;
  align-items: center;
  height: 45px;
  width: 7%;
  margin: 0;
  border-radius: 0px 15px 15px 0px;
  align-items: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #49719c;
  margin-right: 3%;
  transition: 0.4s;
  cursor: pointer;
  min-width: 55px;
}

.search-button:hover {
  background-color: #4d8fdb;
  margin-right: 2%;
  width: 8%;
  transition: 0.4s;
}

.search-button:active {
  margin-right: 1%;
  width: 9%;
}

.search-img {
  height: 30px;
  opacity: 0.45;
  transition: 0.4s;
}

.search-button:hover .search-img {
  opacity: 0.8;
  transition: 0.2s;
}

@media query and (max-width: 700px) {
  .search-div {
    justify-content: center;
  }
}
